
# ignore these folders
/checkpoint
/checkpoints
/data
/input
/output
/temp
/wandb
/venv
/cache
/.cache

**/.ipynb_checkpoints/
.vscode/
.idea
.env
# ignore these types
*.pyc
*.out
*.log
*.mexa64
*.pdf
*.tar

# ignore files and dirs with temp in the name
*temp*



